<div class="p-4 sm:ml-64 dark:bg-gray-900 dark:text-white">
    <div class="w-full h-full mt-10 dark:bg-gray-900 dark:text-white">
        <p class="pt-5 text-2xl">Students Details</p>

        <form action="/search" method="get">
            <%- include('./search.ejs') %>

                <p class=" my-3 text-xl">Edit Profiles</p>

                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <!-- Select All Checkbox -->
                                <th scope="col" class="px-6 py-3">
                                    <input type="checkbox" id="select-all"
                                        class="form-checkbox w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    SRN No
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Class
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Session
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Action
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Academics
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Files Manager
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (studentlist.length> 0) { %>
                                <% studentlist.forEach((student)=> { %>
                                    <tr
                                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 cursor-pointer">
                                        <!-- Checkbox for each row -->
                                        <td class="px-6 py-4">
                                            <input type="checkbox"
                                                class="student-checkbox w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                                data-id="<%= student.school_id %>">
                                        </td>
                                        <th scope="row"
                                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            <%= student.srn_no %>
                                        </th>
                                        <td class="px-6 py-4">
                                            <%= student.name %>
                                        </td>
                                        <td class="px-6 py-4">
                                            <%= student.class %>
                                        </td>
                                        <td class="px-6 py-4">
                                            <%= student.session %>
                                        </td>
                                        <td class="px-6 py-4">
                                            <a href="/student/edit/<%= student.school_id %>"
                                                class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                                            <span>|</span>
                                            <a href="/delete/<%= student.school_id %>"
                                                id="delete-link-<%= student.school_id %>"
                                                class="font-medium text-red-400 dark:text-blue-500 hover:underline">Delete</a>
                                        </td>
                                        <td class="px-6 py-4">
                                            <a href="/student/marks/<%= student.school_id %>"
                                                class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit
                                                Marks</a>
                                        </td>
                                        <td class="px-6 py-4">
                                            <a href="/files/one/<%= student.school_id %>"
                                                class="font-medium text-green-500 dark:text-blue-500 hover:underline">Show
                                                Files</a>
                                        </td>
                                    </tr>
                                    <% }); %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="8" class="border px-4 py-2 text-center text-gray-500">No
                                                    students available.</td>
                                            </tr>
                                            <% } %>
                        </tbody>
                    </table>
                </div>

        </form>
    </div>
</div>

<script src="/js/confirmDelete.js"></script>