<link rel="stylesheet" href="/css/inputCustom.css" type="text/css">
<div class="p-4 sm:ml-64 bg-gray-100 dark:bg-gray-900 dark:text-white">
    <div class="w-full h-full mt-10 bg-gray-100 dark:bg-gray-900 dark:text-white">
        <div class="container mx-auto py-8">
            <h1 class="text-2xl font-bold text-center mb-8 dark:text-white">Student Marks Entry</h1>

            <div
                class="bg-white dark:bg-gray-800 shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col md:flex-row xl:flex-row justify-center gap-10 mx-2 md:mx-8 lg:mx-8">
                <div class="flex flex-col gap-3">
                    <h2 class="text-xl font-semibold dark:text-white">Student Details</h2>

                    <p><strong>Name:</strong>
                        <input type="text" value="<%= student.name %>" disabled
                            class="w-full px-2 py-1 border rounded bg-gray-200 dark:bg-gray-700 dark:text-white">
                    </p>
                    <p><strong>Class:</strong>
                        <input type="text" value="<%= student.class %>" disabled
                            class="w-full px-2 py-1 border rounded bg-gray-200 dark:bg-gray-700 dark:text-white">
                    </p>
                    <p><strong>Father Name:</strong>
                        <input type="text" value="<%= student.father_name %>" disabled
                            class="w-full px-2 py-1 border rounded bg-gray-200 dark:bg-gray-700 dark:text-white">
                    </p>
                </div>
                <div>
                    <% if (performance.length) { %>
                        <div class="relative overflow-x-auto ">
                            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 lg:mt-5">

                                <thead
                                    class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-2 py-3 rounded-s-lg">
                                            Term
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Grand&nbsp;Total
                                        </th>
                                        <th scope="col" class="pl-6 py-3">
                                            Percentage
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            RANK/GRADE
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Remarks
                                        </th>
                                        <th scope="col" class="px-1 py-3 rounded-e-lg">
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% performance.forEach(p=> { %>
                                        <form action="/action-rank/<%= p.term %>/<%= student.school_id %>" method="post">
                                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                                <th scope="row"
                                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                    <%= p.term %>
                                                </th>
                                                <td class="px-6 py-2">
                                                    <%= p.grand_total %>
                                                </td>
                                                <td class="pl-6 py-2">
                                                    <%= (typeof parseFloat(p.percentage)==='number' &&
                                                        !isNaN(parseFloat(p.percentage))) ?
                                                        parseFloat(p.percentage).toFixed(2) : '0' %> %
                                                </td>
                                                <td class="px-1 py-2">
                                                    <input required type="text" name="grade" 
                                                        value="<%= rank_remarks.find(r => r.term === p.term)?.grade || '' %>"
                                                        class="w-full px-3 py-2 border rounded dark:bg-gray-700 dark:text-white focus:ring-blue-500 focus:border-blue-500"
                                                        Placeholder="Enter max marks">

                                                </td>
                                                <td class="px-1 py-2">
                                                    <select name="remarks"
                                                        class="w-full px-3 py-2 border rounded dark:bg-gray-700 dark:text-white focus:ring-blue-500 focus:border-blue-500">
                                                        <% const currentRemark = rank_remarks.find(r => r.term === p.term)?.remarks || ''; %>
                                                        <option value="<%= currentRemark %>" selected>
                                                            <%= currentRemark || 'Select Remarks' %>
                                                        </option>
                                                        <% if (currentRemark !== 'Excellent') { %>
                                                            <option value="Excellent">Excellent</option>
                                                        <% } %>
                                                        <% if (currentRemark !== 'Very Good') { %>
                                                            <option value="Very Good">Very Good</option>
                                                        <% } %>
                                                        <% if (currentRemark !== 'Good') { %>
                                                            <option value="Good">Good</option>
                                                        <% } %>
                                                        <% if (currentRemark !== 'Satisfactory') { %>
                                                            <option value="Satisfactory">Satisfactory</option>
                                                        <% } %>
                                                        <% if (currentRemark !== 'Needs Improvement') { %>
                                                            <option value="Needs Improvement">Needs Improvement</option>
                                                        <% } %>
                                                    </select>
                                                </td>
                                                <td class="px-1 py-2">
                                                    <button type="submit"
                                                        class="text-blue-700 px-4 py-2 rounded-lg  hover:text-blue-500 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-blue-800">
                                                        Save
                                                    </button>
                                                </td>
                                            </tr>
                                        </form>
                                        <% }); %>
                                </tbody>
                            </table>
                        </div>

                        <% } %>
                </div>
            </div>

            <div class="rounde mx-2 md:mx-8 lg:mx-8 pt-6 pb-8 mb-4">

                <form action="/student/input-marks/<%= student.school_id %>" method="POST">
                    <input type="hidden" name="studentId" value="<%= student.school_id %>">

                    <% for (let term=1; term <=3; term++) { %>
                        <div class="mb-6">
                            <h3 class="text-lg font-semibold mb-4 dark:text-white">Term <%= term %>
                            </h3>

                            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <thead
                                        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                        <tr>
                                            <th scope="col" class="px-6 py-3">Subject</th>
                                            <th scope="col" class="px-6 py-3">Marks</th>
                                            <th scope="col" class="px-6 py-3">Maximum Marks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% subjects.forEach(subject=> { %>
                                            <tr
                                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                                                <th scope="row"
                                                    class="px-2 lg:px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                    <%= subject %>
                                                </th>
                                                <td class="px-2 lg:px-4 py-2">
                                                    <input type="<%= subject === 'DRAWING' ? 'text' : 'number' %>" name="marks[<%= term %>][<%= subject %>]"
                                                        value="<%= marks[term] && marks[term][subject] ? marks[term][subject] : '' %>"
                                                        class="w-full lg:w-2/3 px-3 py-1 border rounded dark:bg-gray-700 dark:text-white focus:ring-blue-500 focus:border-blue-500"
                                                        placeholder="Enter marks">
                                                </td>
                                                <td class="px-2 lg:px-4 py-2">
                                                    <input required type="text"
                                                        name="maxMarks[<%= term %>][<%= subject %>]"
                                                        value="<%= maxMarks[term] && maxMarks[term][subject] ? maxMarks[term][subject] : '100' %>"
                                                        class="w-full lg:w-2/3 px-3 py-1 border rounded dark:bg-gray-700 dark:text-white focus:ring-blue-500 focus:border-blue-500"
                                                        placeholder="Enter max marks" <% if (maxMarks[term] &&
                                                        maxMarks[term][subject]) { %>
                                                    readonly <% } %> >
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <% } %>

                            <div class="flex justify-center">
                                <button type="submit"
                                    class="bg-blue-500 text-white px-6 py-2 rounded-lg shadow hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Save Marks
                                </button>
                            </div>
                </form>

            </div>

            <!-- attendance and status -->
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-4 mx-2 md:mx-8 lg:mx-8">

                <form action="/student/attendance-status/<%= student.school_id %>" method="POST">
                    <input type="hidden" name="studentId" value="<%= student.school_id %>">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Attendance
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Status
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    <span class="sr-only">Actions</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <td class="px-6 py-4">
                                    <input type="text" name="attendance"
                                        value="<%= student_attendance_status ? student_attendance_status.attendance : 0 %>"
                                        class="w-full px-4 py-2 border rounded bg-gray-50 dark:bg-gray-700 dark:text-white"
                                        placeholder="Enter attendance">
                                </td>
                                <td class="px-6 py-4">
                                    <select name="status"
                                        class="w-full px-4 py-2 border rounded bg-gray-50 dark:bg-gray-700 dark:text-white">
                                        <option value="pending" <%=student_attendance_status &&
                                            student_attendance_status.status==='pending' ? 'selected' : '' %>>
                                            Pending
                                        </option>
                                        <option value="passed" <%=student_attendance_status &&
                                            student_attendance_status.status==='passed' ? 'selected' : '' %>>
                                            Passed
                                        </option>
                                        <option value="promoted" <%=student_attendance_status &&
                                            student_attendance_status.status==='promoted' ? 'selected' : '' %>>
                                            Promoted
                                        </option>
                                        <option value="fail" <%=student_attendance_status &&
                                            student_attendance_status.status==='fail' ? 'selected' : '' %>>
                                            Fail
                                        </option>
                                    </select>
                                </td>
                                <td class="px-6 py-4 text-right">
                                    <button type="submit"
                                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                        Save
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>

        </div>
    </div>
</div>