<%- include('./partials/header.ejs',{title: "Certificates Details"}) %>

<%- include('./partials/topMenu.ejs') %>

<%- include('./partials/navbar.ejs') %>

<div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg w-full ml-0 mx-5 lg:w-96 lg:ml-72 mt-20">
    <h2 class="text-2xl font-bold mb-4 text-center text-gray-900 dark:text-gray-100">Create Certificate</h2>
    <form action="/create-certificate" method="POST">
        <div class="flex gap-2">
            <div> 
                <label class="block mb-2 text-gray-900 dark:text-gray-100">Name:</label>
                <input type="text" name="student_name" required class="w-full p-2 border rounded mb-4 bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-gray-100" readonly value="<%= studentlist[0].name %>">
            </div>
            
            <div>
                <label class="block mb-2 text-gray-900 dark:text-gray-100">Student ID:</label>
                <input type="text" name="student_id" required class="w-full p-2 border rounded mb-4 bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-gray-100" readonly value="<%= student_id %>">
            </div>
        </div>

        <label class="block mb-2 text-gray-900 dark:text-gray-100">Activity:</label>
        <input type="text" name="activity" value="Outstanding Performance in Science Fair" required class="w-full p-2 border rounded mb-4 bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-gray-100">

        <!-- <label class="block mb-2 text-gray-900 dark:text-gray-100">Date:</label> -->
        <!-- <input type="date" name="date" required class="w-full p-2 border rounded mb-4 bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-gray-100"> -->
        <div class="relative max-w-sm mb-4">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </div>
            <input datepicker id="default-datepicker" datepicker-buttons datepicker-autoselect-today name="date" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date" >
        </div>

        <div class="flex gap-2">
            <div>
                <label class="block mb-2 text-gray-900 dark:text-gray-100">Type:</label>
                <select name="type" required class="w-full p-2 border rounded mb-4 bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-gray-100" id="certificate_type">
                    <option value="ceremony" selected>Felicitation Ceremony</option>
                    <option value="achievement" >Certificate of Achievement</option>
                    <option value="juniors">Juniors</option>
                    <option value="seniors">Seniors</option>
                </select>
            </div>

            <div id="position">
                <label class="block mb-2 text-gray-900 dark:text-gray-100">Position:</label>
                <select name="position" required class="w-full p-2 border rounded mb-4 bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-gray-100">
                    <option value="" selected></option>
                    <option value="First">First</option>
                    <option value="Second">Second</option>
                    <option value="Third">Third</option>
                </select>
            </div>
        
        </div>
        
        

        <button type="submit" class="w-full bg-blue-500 dark:bg-blue-700 text-white py-2 rounded">Generate Certificate</button>
    </form>
</div>


<%- include('./partials/footer.ejs') %>
